
/* HEADER */
.stages header .logo:before{ background-image: url('../img/stages/logoIcon.png'); }
.stages header .logo:after{ background-image: url('../img/stages/logoText.png'); }


/* INTRO */
.stages section.intro .bg {
	background: url('../img/stages/intro.jpg') no-repeat center;
	background-size: cover;
}
.stages section.intro .text { 
	color: #00e7e0;
	margin-top: -60px;
}
.stages section.intro .scrolldown {
    background: url('../img/stages/mediator_scrolldown.png') center no-repeat;
}

/* PRESENTATION */
.stages section.presentation {
	height: 264px;
	color: #fff;
	font-size: 34px;
	font-family: "Brandon_bold";
	background: url('../img/stages/bg_presentation.jpg') no-repeat center;
	background-size: cover;
	padding-top: 80px;
}
.stages section.presentation span {
	width: 80px; height: 6px;
	position: relative;
	margin-top: 25px;
	display: inline-block;
	background: #f985af;
}
.stages section.presentation span::after {
	content: '';
	width: 80px; height: 6px;
	position: absolute;
	top: 6px; left: 0;
	display: inline-block;
	background: #fff;
}

/* UNIS */
.stages section.unis {
	padding: 270px 0;
	background: #ee91b3;
	color: #fff;
	font-family: "Brandon_bold";
	font-size: 60px;
}

/* FORMULES */
.stages section.formules {
	background: #fff;
	font-family: "Casper";
	color: #888;
	padding-bottom: 100px;
}
.stages section.formules .contain {
	width: 780px;
	display: inline-block;
}
.stages section.formules h2 {
	color: #1bafa9;
}
.stages section.formules h3 {
	font-size: 28px;
	font-family: "Brandon_black";
	margin-bottom: 20px;
	color: #09c0b8;
	text-align: left;
}
.stages section.formules p {
	text-align: justify;
	font-size: 12px;
	line-height: 18px;
	margin-bottom: 10px;
}
.stages section.formules p:last-of-type { margin-bottom: 0 }
.stages section.formules a {
	font-family: "Brandon_black";
	color: #f985af;
	text-decoration: underline;
	text-transform: uppercase;
}
.stages section.formules b {
	font-family: "Brandon_black";
	color: #09c0b8;
	text-transform: uppercase;
}

.stages section.formules .paragraphintro {
	width: 100%;
	display: inline-block;
}
.stages section.formules .paragraphintro h3 {
	color: #f985af;
	text-align: center;
}
.stages section.formules .baseline {
	text-align: justify;
	color: #f985af;
	font-family: "Brandon_black";
	font-size: 18px;
	display: block;
	margin-bottom: 20px;
}
.stages section.formules .baseline::before {
	content: "/ ";
	color: #09c0b8;
}
.stages section.formules .smallbaseline .baseline {
	margin-bottom: 0;
}

.stages section.formules .line {
	width: 100%;
	display: inline-block;
	margin-top: 80px;
	position: relative;
}
.stages section.formules .line .img {
	width: 430px;
	float: left;
}
.stages section.formules .line .text {
	width: 320px; height: 100%;
	position: absolute;
	top: 0;
}
.stages section.formules .line .text p { font-size: 11px; }

.stages section.formules .line:nth-child(even) .img { float: right; }
.stages section.formules .line:nth-child(even) .text { left: 0; }
.stages section.formules .line:nth-child(odd)  .text { right: 0; }

.stages section.formules .btnprice {
	width: 100%;
	border: 2px solid #09c0b8;
	padding: 17px;
	font-family: "Brandon_black";
	font-size: 19px;
	color: #f985af;
	position: absolute;
	bottom: 0; left: 0;
}
.stages section.formules .btnprice span { color: #09c0b8 }

.stages section.formules h3.blue {
	color: #09c0b8;
	text-align: center;
	text-transform: uppercase;
	margin-top: 80px;
}
.stages section.formules h3 span { font-size: 24px; }

.stages section.formules .button.btnsummer {
	width: auto;
	padding: 0 40px;
	font-size: 12px;
	background: #f985af;
	color: #fff;
	border-color: #1bafa9;
	float: right;
}
.stages section.formules .button.left {
	float: left;
}

@media screen and ( min-width: 1200px) {

	.stages section.formules .contain { width: 1120px; }
	.stages section.formules .paragraphintro { width: 800px }
	.stages section.formules h3 { font-size: 36px; margin-bottom: 40px; }
	.stages section.formules .baseline { font-size: 24px; margin-bottom: 20px; }
	.stages section.formules p { font-size: 14px; line-height: 22px; margin-bottom: 30px }
	.stages section.formules .btnprice { font-size: 22px; }
	.stages section.formules .line .img { width: 720px; }
	.stages section.formules .line .text p { font-size: 13px; margin-bottom: 20px; line-height: 20px; }
	.stages section.formules .btnprice { padding: 24px; }
}


/* TRANSITION */
.stages section.transition .content {
	background-image: url('../img/stages/transition.jpg');
}

/* EN ACTION  */
.stages section.action {
	background: url('../img/stages/bg_actions.jpg') center no-repeat;
	background-size: cover; 
	padding-bottom: 0;
}

.stages section.action h2{
	color: #fff;
}

.stages section.action>.button{
	background-color: #fff;
	border-bottom-color: #09c0b8;
	color: #09c0b8;
	margin: 0 0 52px 0;
}

.stages section.action .content {
	position: relative;
	width: 806px;
	height: 325px;
	margin: 0 auto;
}

.stages section.action .arrow{
	position: absolute;
	left: 0; top: 97px;
	width: 40px; height: 40px;
	background-color: #1bafa9;
	overflow: hidden;
	cursor: pointer;
}

.stages section.action .arrow.next {
	left: auto; right: 0;
	-webkit-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	transform: scale(-1, 1);
}

.stages section.action .arrow .icon{
	width: 80px; height: 40px;
	background-image: url('../img/home/arrow.png');
	background-size: 40px; 
-webkit-transition: all 1ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
   -moz-transition: all 1ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
     -o-transition: all 1ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
        transition: all 1ms cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */
}

.stages section.action .arrow:hover .icon{
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%)
-webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
   -moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
     -o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
        transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); 
}


.stages section.action .slider {
	position: relative;
	overflow: hidden;
	width: 702px; height: 325px;
	margin: 0 auto;
}

.stages section.action .albums {
	text-align: left;
	font-size: 0;
	width: 10000px;
}

.stages section.action .albums .album{
	position: relative;
	display: inline-block;
	width: 234px; height: 234px;
	background-color: #ddd;
}

.stages section.action .albums .album img{
	width: 100%; height: 100%;
}

.stages section.action .albums .album .text{
	padding: 14px;
}

.stages section.action .albums .album .text .title{
	font-size: 16px;
	color: #fff;
	margin: 0;
}

.stages section.action .albums .album .text .infos{
	display: inline-block;
	color: #c10566;
	font-family: "Brandon_black";
	font-size: 13px;
	margin-right: 10px;
}

.stages section.action .albums .album .text .infos:before{ content: "/ "; }

.stages section.action .albums .album .hover {
	width: 100%; height: 100%;
	position: absolute;
	top: 0; left: 0;
	background: rgba(27,175,169,.6);
	border: 6px solid rgb(27,175,169);
	opacity: 0;
	cursor: pointer;
}
.stages section.action .albums .album .hover span {
	width: 100%; height: 100%;
	position: absolute;
	left: 0; top: 0;
	background: url('../img/stages/mediator_hover.png') center no-repeat;
	background-size: 20%;
}
.stages section.action .albums .album:hover .hover {
	opacity: 1;
}

@media screen and ( min-width: 1200px) {
	.stages section.action>.button { margin: 0 0 80px 0; }
	.stages section.action .arrow{ width: 60px; height: 60px; top:150px;}
	.stages section.action .arrow .icon{ width: 120px; height: 60px; background-size: 60px; }
	.stages section.action .content { width: 1240px; height: 500px; }
	.stages section.action .slider { width: 1080px; height: 500px;}
	.stages section.action .albums .album { width: 360px; height: 360px;}
	.stages section.action .albums .album .text{ padding: 20px }
	.stages section.action .albums .album .text .title{ font-size: 24px; }
	.stages section.action .albums .album .text .infos{ font-size: 20px; }
}
